* {
  font-family: "Poppins", sans-serif;
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

:root{
  --main-color:black;
  --main-bg:white;
} 
body{
  background-color: var(--main-bg);
  color: var(--main-color);
}
.dark{
  background-color: var(--main-color);
  color: var(--main-bg);
}

.title-dark{
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  button{
    background-color: black;
    padding: 10px 20px;
    color: #fff;
    border: none;
  }
}
.title {
  text-align: center;
  padding: 20px 0px;
}
.btns{
  width: 50%;
  margin: 30px auto;
  border: none;
  text-align: center;
  .btn{
      border-radius: 10px;
      border: none;
      background-color: #427D9D;
      color: #fff;
      text-transform: uppercase;
      padding: 10px 20px;
      margin-right: 10px;
      transition: 0.5s all ease;
      &:hover{
        cursor: pointer;
        background-color: #164863;
        color: #fff;
      }
  }
}

.cards {
  width: 80%;
  margin: 30px auto;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

  .card {
    width: 23%;
    padding: 20px;
    border-radius: 20px;
    transition: 0.5s all ease;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;

    .card-content {
      display: flex;
      flex-direction: column;
      padding: 20px 0px;
      gap: 5px;

      p {
        font-size: 14px;

        span {
          font-size: 16px;
          font-weight: 700;
        }
      }
    }

    .card-img {
      position: relative;
      background-color: white;
      border-radius: 10px;

      width: 100%;
      height: 300px;
      margin: auto;

      img {
        border-radius: 10px;
        width: 100%;
        height: 100%;
        object-fit: contain;
      }

      .icon {
        border-radius: 50%;
        width: 30px;
        height: 30px;
        background-color: #fff;
        color: black;
        display: grid;
        place-items: center;
        position: absolute;
        top: 5px;
        right: 5px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

        i {
          transition: 0.5s all ease;
        }

        &:hover i {
          color: orange;
          cursor: pointer;
        }
      }
    }



  }
}

.wishlist-cards {
  min-height: 30vh;
}